.portfolio__subtitle____experience {
    font-size: small;
    text-align: center;
}

.portfolio__title____experience {
    text-align: center;
    margin: 1rem 0;
}

.portfolio__container__experience {
    display: grid;   
    grid-template-columns: repeat(6, 1fr);
    gap: 2.5rem;
}

.portfolio__item__experience {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item__experience:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image__experience {
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio__item__experience h3 {
    margin: 1.2rem 0 2rem;
}


@media screen and (max-width: 1400px){
  
    .portfolio__container__experience {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.2rem;
    }
  
}



/* ==================== MEDIA QUERYS / TABLETS ==================== */

@media screen and (max-width: 1200px){
  
    .portfolio__container__experience {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
  
}


@media screen and (max-width: 1024px){
  
    .portfolio__container__experience {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.2rem;
    }
  
}



/* ==================== MEDIA QUERYS / CELULAR ==================== */



@media screen and (max-width: 600px){
  
    .portfolio__container__experience {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
  
}