.portfolio__subtitle____experience {
    font-size: small;
    text-align: center;
}

.portfolio__title____experience {
    text-align: center;
    margin: 1rem 0;
    font-weight: bolder;
}

.portfolio__container__experience {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.portfolio__item__experience {
    height: 280px;
    width: 200px;
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item__experience:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image__experience {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio__item__experience h3 {
    margin: 1.2rem 0 2rem;
}
